<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Добавление параметров</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <div th:insert="headers/head :: nov"></div>
</head>
<body>
<form method="post">
  <label>

    <input name="stranaProizv" type="text" placeholder="Страна производителя" style="margin:10px">
    <input name="proizv" type="text" placeholder="Производитель" style="margin:10px">

    <input type="submit"  value="Добавить параметры"  style="margin:10px">
  </label>
</form>


<a style="background:steelblue; margin: 10px" class="btn" href="/tovar">Отмена</a>
</body>
</html>