<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<form method="post">
    <label>
        <input style="margin:10px" name="tovar" type="text" placeholder="Товар"> <br>
        <input style="margin:10px" name="articul" type="number" placeholder="Артикул"> <br>
        <input style="margin:10px" name="ves" type="number" placeholder="Вес"> <br>
        <input style="margin:10px" name="cvet" type="text" placeholder="цвет"> <br>
        <input style="margin:10px" name="kolvo" type="number" placeholder="Кол-во"> <br><br>

        <input style="margin:10px" type="submit" value="Добавить товар">
    </label>
</form>

<a style="margin:10px" href="/tovar">Отмена</a>
</body>
</html>