<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="Редактирование + ' ' + ${tovar.nameTovar}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <div th:insert="headers/head :: nov"></div>

</head>
<body>
<div th:each="el: ${tovar}" >
  <form method="post">
    <label>
      <input th:field="*{tovar.nameTovar}" name="nameTovar" type="text" placeholder="Товар" th:value="${tovar.nameTovar}" class="form-control" style="min-width: 100px; width: 300px">
      <div th:if="${#fields.hasErrors('tovar.nameTovar')}" th:errors="*{tovar.nameTovar}" style="color: black"></div><br>

      <input th:field="*{tovar.articul}" name="articul" type="text" placeholder="Артикул" th:value="${tovar.articul}" class="form-control" style="min-width: 100px; width: 300px">
      <div th:if="${#fields.hasErrors('tovar.articul')}" th:errors="*{tovar.articul}" style="color: black"></div><br>

      <input th:field="*{tovar.ves}" name="ves" type="text" placeholder="Вес" th:value="${tovar.ves}" class="form-control" style="min-width: 100px; width: 300px">
      <div th:if="${#fields.hasErrors('tovar.ves')}" th:errors="*{tovar.ves}" style="color: black"></div><br>

      <input th:field="*{tovar.cvet}" name="cvet" type="text" placeholder="Цвет" th:value="${tovar.cvet}" class="form-control" style="min-width: 100px; width: 300px">
      <div th:if="${#fields.hasErrors('tovar.cvet')}" th:errors="*{tovar.cvet}" style="color: black"></div><br>

      <input th:field="*{tovar.kolvo}" name="kolvo" type="text" placeholder="Количество" th:value="${tovar.kolvo}" class="form-control" style="min-width: 100px; width: 300px">
      <div th:if="${#fields.hasErrors('tovar.kolvo')}" th:errors="*{tovar.kolvo}" style="color: black"></div><br>

      <input type="submit" value="Подтвердить" class="btn btn-info"  style="margin:10px; background:SteelBlue">
    </label>
  </form>
  <a class="btn" style="background:SteelBlue; margin:10px" th:href="'/tovar' + ${el.getId()}" >Back</a>
</div>
</body>
</html>