<head xmlns:th="http://www.w3.org/1999/xhtml">
  <meta charset="UTF-8">
  <div th:fragment="nov">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li  class="nav-item" ><a href="/tovar"  class="nav-link active" aria-current="page" style="background: steelblue">Товар</a></li>
        <li class="nav-item" style="margin-left: 20px"><a href="/tovar/parametrisAdd" class="nav-link active" aria-current="page" style="background: steelblue">Параметры</a></li>
        <li class="nav-item" style="margin-left: 20px"><a href="/tovar/providerAdd" class="nav-link active" aria-current="page" style="background: steelblue">Поставщик</a></li>
        <li class="nav-item" style="margin-left: 20px"><a href="/tovar/shopAdd" class="nav-link active" aria-current="page" style="background: steelblue">Добавить магазин</a></li>
        <li class="nav-item" style="margin-left: 20px"><a href="/tovar/shop_tovarAdd" class="nav-link active" aria-current="page" style="background: steelblue">Добавить товар в магазин</a></li>
        <li class="nav-item" style="margin-left: 20px"><a href="/tovar/shops" class="nav-link active" aria-current="page" style="background: steelblue">Магазины</a></li>
        <li style="margin-left: 300px"><form th:action="@{/logout}" method="post">
          <input class="nav-link active" type="submit" style="background: steelblue; margin-left: -280px" value="Выход"/>
        </form></li>
        <li class="nav-item" style="margin-left: -180px"><a href="/registration" style="background: steelblue" class="nav-link active" aria-current="page">Регистрация</a></li>
        <li class="nav-item" style="margin-left: 1160px; margin-top: -40px"><a href="/login" class="nav-link active" style="background: steelblue" aria-current="page">Авторизация</a></li>
      </ul>
    </header>
  </div>
</head>